/* body{
    background-repeat: no-repeat;
    background: rgba(33, 35, 35,200) url('../img/build.jpg') center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    color: white;
}
.navbar{
  background-color:#00D9BC;
  border:none;
  text-decoration-color: white;
  /* color: white;/ */
} */
